@import "tailwindcss";

:root {
  --background: #3c3963;
  --foreground: #f1f1f1;
}

* {
  transition: all 0.3s;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  background-color: #3c3963;
}

* {
  transition: all 0.3s;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  background-color: #3c3963;
}

::-webkit-scrollbar {
  width: 0%;
  display: none;
}

.swal2-modal {
  border-radius: 1.5rem;
}

.swal2-actions > button {
  border-radius: 1.5rem;
}
::-webkit-scrollbar {
  width: 0%;
  display: none;
}
